html,
body {
  background: #fcde67;
  font-family: 'Source Code Pro', monospace;
}
h4 {
  text-align: center;
  margin: 20px;  
}

a {
  color: inherit;
  text-decoration: none;
}


img {
  margin-left: 5px; 
 }
/* 
* {
  box-sizing: border-box;
} */
