
.actor_block, .input_block, .prompt_block, .image_block {
  display: flex;
  justify-content: center;
}

.image_block {
  margin-top: 30px;
}

.input {
  font-family: 'Source Code Pro', monospace;
  border-style: hidden;
}

.input:focus {
  outline: none;
}

.button {
  margin: 0 0 0 5px;
  cursor: pointer;
  text-align: center;
  color: white;
  border: none;
  background-color: #5bccf6;
  padding: 5px 9px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.input_section {
  margin-top: 10%
}

.loading {
  text-align: center;
}

